<!--
  Tymczasowe sprawdzanie błędów
-->
<% if(errors){ errors.forEach(error =>{ %>
  <span style="color: red"><%=error%></span>
  <% }) } %>

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TestArmy Recruitment Task</title>
    <link rel="shortcut icon" type="image/jpg" href="somefaviconlocation" />
    <meta name="description" content="This is a page for TestArmy recruitment purposes"
    />
    <meta name="author" content="OTG Crew" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/main.css" rel="stylesheet" />
  </head>

  <body class="text-center" style="background-color: #222; color: #fff;">

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/profile"><%=user.username%></a>
              </li>
          </ul>
        </nav>
        <h3 class="text-muted">TestArmy Recruitment Project</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">User profile page</h1>
        <p class="lead">
            <h2>
              <% 
                if(user.imagePath =="0"){
                  %>
                   <img src="/img/default-avatar.png" alt="default user avatar">
                  <%
                }else{
                  %>
                  <img style="width:256px; height: 256px;" src = "<%=user.imagePath%>" />
                  <%
                }
              %>
            </h2>
            <h2>Username: <%=user.username%></h2>
            <h2>Email: <%=user.email%></h2>
            <%
              var date = user.date
              var day = date.getUTCMonth() + 1
              if(day<10){
                day = "0"+day
              }
              var month = date.getUTCDate()
              if(month < 10){
                month = "0" + month
              }
              var year = date.getUTCFullYear();
            %>
            <h2>Account create date: <%=day%>/<%=month%>/<%=year%></h2>
            <h2>You may like:</h2>
            <a href="/upload"><h4>Change avatar</h4></a>
            <a href="#"><h4>URL to Something2</h4></a>
        </p>

        <h3>You can change your avatar by uploading file here:</h3>
      </div>
      <footer class="footer">
        <p>© OTG Crew 2021</p>
      </footer>

    </div>
    </body>
</html>
