<!DOCTYPE html>
    
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <title>TestArmy Recruitment Task</title>
        <link rel="shortcut icon" type="image/jpg" href="somefaviconlocation" />
        <meta
          name="description"
          content="This is a page for TestArmy recruitment purposes"
        />
        <meta name="author" content="OTG Crew" />
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
      </head>
    
      <body>
        <div class="container">
          <div class="header clearfix">
            <nav class="navigation">
              <ul class="nav nav-pills float-right">
                <li class="nav-item">
                  <a class="nav-link" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile"><%=user.username%></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </nav>
            <div class="main-container">
              <div class="left-panel">
                <div class="news-tile">
                  <h1>Welcome to your recruitment task</h1>
                  <h4>           
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a aliquam purus. Integer congue est vitae iaculis accumsan. Maecenas lacus turpis, ullamcorper lobortis elit et, ullamcorper facilisis mauris. Phasellus nec nisi vitae lorem sollicitudin placerat ut quis sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean nec nisi faucibus, viverra sapien non, commodo arcu. Nullam at arcu vel nunc dignissim gravida. Curabitur sed dolor eu elit ullamcorper ultricies. Cras nunc nunc, maximus id ornare vitae, mattis mollis nisl. Vestibulum iaculis ut elit ac ultrices. Aenean a euismod dolor.
                  </h4>
                  <span class="news-footer">
                    <span class="news-author">
                      <a class="author-link" href="#">Adam</a></span> -
                    <span class="news-date">21:37 31.13.2021</span>
                  </span>
                </div>
                <div class="comment-box-first">
                    <span class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec leo dictum, porttitor augue non, varius magna. Donec consectetur volutpat facilisis. 
                    <span class="comment-footer"><br><br>
                        <span class="comment-date">Added on: 08.06.2021 19:20:00</span><br>
                        <span class="comment-author">Sarael</span>
                    </span>
                </span>
                </div>
                <div class="comment-box-next">
                  <span class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec leo dictum, porttitor augue non, varius magna. Donec consectetur volutpat facilisis. 
                    <span class="comment-footer"><br><br>
                        <span class="comment-date">Added on: 08.06.2021 19:21:33</span><br>
                        <span class="comment-author">Sarael</span>
                    </span>
                  </span>
                </div>
                <%
                if(comments){
                  comments.forEach(comment =>{
                    var second = comment.date.getSeconds();
                    var minute = comment.date.getMinutes();
                    var hour = comment.date.getHours();
                    var day = comment.date.getUTCDate();
                    var month = comment.date.getUTCMonth();
                    var year = comment.date.getUTCFullYear();
                    if(second<10) second = "0" + second;
                    if(minute<10) minute = "0" + minute;
                    if(hour<10) hour = "0" + hour;
                    if(day<10) day = "0" + day;
                    if(month<10) month = "0" + month;
                %>
                <div class="comment-box-next">
                  <span class="comment-content"><%=comment.content%>
                    <span class="comment-footer"><br><br>
                        <span class="comment-date">Added on: <%=day%>.<%=month%>.<%=year%> <%=hour%>:<%=minute%>:<%=second%></span><br>
                        <span class="comment-author"><%=user.username%></span>
                    </span>
                  </span>
                </div>
                <%
                  })
                }
                %>




                <div class="add-comment-box">
                    <form action="/addComment?title=welcome-to-your-recruitment-task" method="POST">
                        <h4>Add your comment (max 256 char)</h4>
                        <input type="text" id="commentBody" name="commentBody" maxlength="256">
                        <button>Send</button>
                    </form>

                </div>
              </div>
              <div class="right-panel">hehz</div>
              <div class="footer"><span class="footer-text">OTG Crew for TestArmy &copy; 2021</span></div>
            </div>
          </div>
        </div>
      </body>
    </html>
    